<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" href="/css/chatbot.css">
<div th:fragment="chatbotFragment">

    <div id="chatbotModal" class="modal-chat" style="z-index: 100;">
        <div class="modal-content bg-orange-100">
            <div class="modal_header">
                <span>챗봇</span>
                <button type="button" id="close_chat_btn" class="close_btn">X</button>
            </div>
            <div id="divbox" class="chat_content">
                <img src="/icon/chatIcon.png" style="width:40px; height:40px;float: left;">
                <div class="chat_inner" style="max-width:270px;max-height: 500px; " >
                    <pre style="height: 100%;">반갑습니다 😀😀
낭만닥터 도우미 6B(육비)입니다.
6(명의) B(itcampers)라는 뜻을
가지고 있어요!
궁금한 점을 아래의 단축버튼으로
누르거나 직접 질문해주세요.
                    </pre>
                    <div class="btn_info_wrap">
                        <th:block sec:authorize="hasAuthority('ROLE_USER')">
                        <button style="text-decoration:  none;" type="button" onclick="location.href='/results?keyword=성형'" class="btn-link welcome1" >
                            <span >예약하기</span>
                        </button>
                        </th:block>
                        <th:block sec:authorize="isAnonymous()">
                        <button style="text-decoration:  none;" type="button" onclick="noresurv()" class="btn-link welcome1" >
                            <span>예약하기</span>
                        </button>
                        </th:block>
                        <button style="text-decoration:  none;" type="button" class="btn-link welcome5" onclick="searchbtn()">
                            <span>병원검색</span>
                        </button>
                        <button style="text-decoration:  none;" type="button" class="btn-link welcome5" onclick="location.href='/'">
                            <span>메인으로</span>
                        </button>
                        <button style="text-decoration:  none;" type="button" class="btn-link welcome5" onclick="reviewbtn()">
                            <span>리뷰보기</span>
                        </button>
                    </div>
                </div>
            </div>
            <form id="chatForm"class="chatForm" style="display: inline">
                <input type="text" name="inputText" class="chat_input" id="input1" />
                <input type="button" value="전송" id="btn_submit" class="send_btn" />
            </form>
        </div>
    </div>
    <img src="/icon/chatbotimg.png" onclick="toggleSlide()" alt="Chatbot Image" id="chatbotimg" style="z-index: 100; width:60px;height:60px;position:fixed;bottom:20px;right:30px;cursor:pointer;">
    <script>
        function toggleSlide() {
            const content = document.getElementById('chatbotModal');
            if (content.style.display === 'none' || content.style.display === '') {
                content.style.display = 'block';
            } else {
                content.style.display = 'none';
            }
        }
        function noresurv(){
            $('#divbox').append('<div class="msg_box receive"><span>로그인 후 이용할 수 있습니다 😂<span></div>');
            $("#divbox").scrollTop($("#divbox")[0].scrollHeight);
        }
        function searchbtn(){
            $('#divbox').append('<div class="msg_box receive"><span>병원을 검색하실 수 있게 도와드릴게요 😇<span></div>');
            $("#divbox").scrollTop($("#divbox")[0].scrollHeight);
            location.href='/search';
        }
        function reviewbtn(){
            $('#divbox').append('<div class="msg_box receive"><span>다양한 후기로 선택에 도움을 드릴게요 😋<span></div>');
            $("#divbox").scrollTop($("#divbox")[0].scrollHeight);
            location.href='/reviewboard';
        }
        // 챗봇 이미지 클릭 시 모달 표시
        document.getElementById('chatbotimg').onclick = function () {
            document.getElementById('chatbotModal').style.display = 'block';

            $('#btn_submit').click(function () {
                send();
            });
            $('#chatForm').on('submit', function (e) {
                e.preventDefault();
                send();
            });
            $('#close_chat_btn').on('click', function () {
                $('#chat_wrap').hide().empty();
            });

            function send() {
                $('#divbox').append('<div class="msg_box send"><span>' + $('#input1').val() + '<span></div>');
                $("#divbox").scrollTop($("#divbox")[0].scrollHeight);

                $.ajax({
                    url: '/chatbot/chatbotSend', //챗봇 api url
                    type: 'post',
                    dataType: 'text',
                    data: {inputText: $('#input1').val()},
                    success: function (data) {
                        console.log("success");
                        $('#divbox').append('<img src="/icon/chatIcon.png" style="width:40px; height:40px;margin-top:50px;float: left;">');
                        $('#divbox').append('<div class="msg_box receive"><span>' + data + '<span></div>');
                        $("#divbox").scrollTop($("#divbox")[0].scrollHeight);

                    }
                });
                $('#input1').val('');
            }

        }

        // 닫기 버튼을 클릭했을 때 모달 닫기
        document.getElementById('close_chat_btn').onclick = function() {
            var modal = document.getElementById('chatbotModal');
            modal.classList.add('slide-out');
            // 애니메이션이 끝난 후 모달을 숨김
            setTimeout(function() {
                modal.style.display = 'none';
                modal.classList.remove('slide-out');
            }, 500); // 애니메이션 시간과 동일하게 설정

        }

        // 모달 외부를 클릭했을 때 모달 닫기
        window.onclick = function(event) {
            if (event.target == document.getElementById('chatbotModal')) {
                var modal = document.getElementById('chatbotModal');
                modal.classList.add('slide-out');

                // 애니메이션이 끝난 후 모달을 숨김
                setTimeout(function() {
                    modal.style.display = 'none';
                    modal.classList.remove('slide-out');
                }, 500); // 애니메이션 시간과 동일하게 설정
            }
        }
    </script>
</div>
</div>
</html>