<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footerFragment">
	<div class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="widget">
						<h3>About Project Nangman_Doctor<span class="text-primary">.</span></h3>
						<p>Nangman Doctor provides necessary information to keep up with the era of cosmetic surgery,
							where people enhance their appearances. It offers information on all plastic surgery clinics
							located in Gangnam and even allows you to make consultation appointments. </p>
					</div> <!-- /.widget -->
					<div class="widget">
						<h3>Connect</h3>
						<ul class="list-unstyled social">

							<li><a href="https://github.com/6BitCampers/Nangman_Doctor.git"><span class="icon-dribble"><img src="/icon/branch-logo.png"></span></a></li>
							<li><a href="https://github.com/6BitCampers"><span class="icon-dribble"><img src="/icon/git-logo.png"></span></a></li>
							<li><a href="https://www.notion.so/df76cb8795ca4b459e8460a45d5649a8"><span class="icon-dribble" ><img src="/icon/notion-logo.png"> </span></a></li>
							<li><a href="https://www.erdcloud.com/d/JujLmuXxCsSdQ4mbi"><span class="icon-dribble"><img src="/icon/erd-logo.png"></span></a></li>

						</ul>
					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-3 -->

				<div class="col-lg-2 ml-auto">
					<div class="widget">
						<h3>Git Links</h3>
						<ul class="list-unstyled float-left links">
							<li><a href="https://github.com/LeeGaHyun12">/LeeGaHyun12</a></li>
							<li><a href="https://github.com/8282qwe">/8282qwe</a></li>
							<li><a href="https://github.com/dongwoobae">/dongwoobae</a></li>
							<li><a href="https://github.com/whkim98">/whkim98</a></li>
							<li><a href="https://github.com/hayooniiiiii">/hayooniiiiii</a></li>
							<li><a href="https://github.com/andychoi0819">/andychoi0819</a></li>
						</ul>
					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-3 -->

				<div class="col-lg-2">
					<div class="widget">
						<h3>Members</h3>
						<ul class="list-unstyled float-left links">
							<li><a href="#">LeeGaHyun</a></li>
							<li><a href="#">LeeJangWoo</a></li>
							<li><a href="#">BaeDongWoo</a></li>
							<li><a href="#">KimWooHyeong</a></li>
							<li><a href="#">KangHaYoon</a></li>
							<li><a href="#">ChoiSeeHyun</a></li>
						</ul>
					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-3 -->


				<div class="col-lg-3">
					<div class="widget">
						<h3>BitCamp_NaverCloud_Devops</h3>
						<address>서울특별시 강남구 강남대로94길 20, 7층(역삼동)</address>
						<ul class="list-unstyled links mb-4">
							<li><a href="tel://02-3486-0070">02-3486-0070</a></li>
							<li><a href="tel://02-3486-4600">02-3486-4600</a></li>
							<li><a href="mailto:hayoonikang76@gmail.com">hayoonikang76@gmail.com</a></li>
						</ul>
					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-3 -->

			</div> <!-- /.row -->

			<div class="row mt-5">
				<div class="col-12 text-center">
					<p class="mb-0">Copyright &copy;<script>document.write(new Date().getFullYear());</script>
						. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a>
						<!-- License information: https://untree.co/license/ -->


					</p>
					<p class="mb-0"><a href="https://www.flaticon.com/kr/free-icons/" title="기다리는 아이콘">기다리는 아이콘 제작자: DinosoftLabs - Flaticon</a></p>
				</div>
			</div> <!-- /.container -->
		</div> <!-- /.site-footer -->

		<!-- Preloader -->
		<div id="overlayer"></div>
		<div class="loader">
			<div class="spinner-border text-primary" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>

		<!--각 페이지의 javascript-->
		<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/js/tiny-slider.js}"></script>
		<script th:src="@{/js/aos.js}"></script>
		<script th:src="@{/js/navbar.js}"></script>
		<script th:src="@{/js/counter.js}"></script>
		<script th:src="@{/js/rellax.js}"></script>
		<script th:src="@{/js/flatpickr.js}"></script>
		<script th:src="@{/js/glightbox.min.js}"></script>
		<script th:src="@{/js/custom.js}"></script>
		<script th:src="@{https://cdn.tailwindcss.com}"></script>
	</div>
</footer>
</html>