<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="headerFragment">
	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

	<nav class="site-nav mt-3">
		<div class="container">
			<div class="site-navigation">

				<div class="row align-items-center" style="width: 1300px;margin-left: 50px;">
					<div class="col-3" style="float: left;">
						<a th:href="@{/}" class="logo">낭만닥터</a>
					</div>
					<div class="col-6 d-none d-lg-block" style="width: 450px;">
						<ul class="js-clone-nav site-menu text-center m-0 p-0">
							<li><a th:href="@{/about-hospital.html}">낭만닥터 소개</a></li>
							<li class="has-children">
								<a th:href="@{/}">병원 둘러보기</a>
								<ul class="dropdown">
									<li><a th:href="@{/search}">검색</a></li>
									<li><a th:href="@{/naversearch}">뉴스검색</a></li>
								</ul>
							</li>
							<li class="has-children">
								<a th:href="@{/blog.html}">게시판</a>
								<ul class="dropdown">
									<li><a th:href="@{/qna}">Q&A</a></li>
									<li><a th:href="@{/reviewboard}">review</a></li>
								</ul></li>
							<li><a th:href="@{https://webchat.midichi.kro.kr/}">상담</a></li>
						</ul>
					</div>
					<div class="col-6 col-lg-3 text-lg-end">
						<ul class="js-clone-nav d-none d-lg-inline-block text-end site-menu right-menu">
							<th:block sec:authorize="isAnonymous()">
								<!-- 인증 받지 않음 -->
								<li class="cta-button"><a th:href="@{/join}">회원가입</a></li>
								<li class="cta-button"><a th:href="@{/login}">로그인</a></li>
							</th:block>
							<!-- emp인 경우에 보여지도록 설정-->
							<th:block sec:authorize="hasAuthority('ROLE_EMP')">
								<li class="nav-item"><a th:href="@{/emp}" class="nav-link">직원 페이지</a></li>
								<li class="cta-button"><a th:href="@{/logout}">로그아웃</a></li>
							</th:block>

							<!-- emp인 경우에 보여지도록 설정-->
							<th:block sec:authorize="hasAuthority('nurse')">
								<li class="nav-item"><a th:href="@{/emp}" class="nav-link">직원 페이지</a></li>
								<li class="cta-button"><a th:href="@{/logout}">로그아웃</a></li>
							</th:block>

							<!-- emp인 경우에 보여지도록 설정-->
							<th:block sec:authorize="hasAuthority('doctor')">
								<li class="nav-item"><a th:href="@{/emp}" class="nav-link">직원 페이지</a></li>
								<li class="cta-button"><a th:href="@{/logout}">로그아웃</a></li>
							</th:block>
							<!-- emp인 경우에 보여지도록 설정-->
							<th:block sec:authorize="hasAuthority('manager')">
								<li class="nav-item"><a th:href="@{/emp}" class="nav-link">직원 페이지</a></li>
								<li class="cta-button"><a th:href="@{/logout}">로그아웃</a></li>
							</th:block>

							<!-- user인 경우에 보여지도록 설정-->
							<th:block sec:authorize="hasAuthority('ROLE_USER')">
								<li class="nav-item"><a th:href="@{/mypage}" class="nav-link">마이 페이지</a></li>
								<li class="cta-button"><a th:href="@{/logout}">로그아웃</a></li>
							</th:block>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
</header>
</html>