<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headFragment">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Untree.co">
	<meta name="description" content=""/>
	<meta name="keywords" content="bootstrap, bootstrap5"/>

	<!--각 페이지의 title-->
	<title>낭만닥터</title>
	<link rel="shortcut icon" th:href="@{/icon/favicon.png}">
	<link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
	<link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
	<link th:href="@{https://fonts.googleapis.com/css2(family=Brygada+1918:ital,wght@0,400;0,600;0,700;1,400,family=Inter:wght@400;700&display=swap)}"
		  rel="stylesheet">

	<!--각 페이지의 css-->
	<link rel="stylesheet" th:href="@{/css/tiny-slider.css}">
	<link rel="stylesheet" th:href="@{/css/aos.css}">
	<link rel="stylesheet" th:href="@{/css/flatpickr.min.css}">
	<link rel="stylesheet" th:href="@{/css/glightbox.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/chatbot.css}">
	<link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}">
	<link rel="stylesheet" th:href="@{/fonts/flaticon/font/flaticon.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap-grid.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap-utilities.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap-reboot.css}">
	<script th:src="@{https://code.jquery.com/jquery-3.7.1.js}" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
</html>