<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="headerFragment">
	<th:block sec:authorize="hasAuthority('ROLE_NOTVAILD')">
		<script>
			$(function (){
				alert("인증이 완료되지 않은 계정입니다. 인증을 완료해주세요.");
				location.href="/logout"
			})
		</script>
	</th:block>
	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

	<nav class="site-nav mt-3">
		<div class="container">
			<div class="site-navigation" style="width: 100%;">

				<div class="row align-items-center" style="width: 100%;">
					<div class="col-3" style="float: left;">
						<a th:href="@{/}" class="logo">낭만닥터</a>
					</div>
					<div class="col-6 col-lg-5 col-sm-5 d-none d-lg-block">
						<ul class="js-clone-nav site-menu text-center m-0 p-0">
							<li>  <!-- 현재 페이지가 홈 페이지인 경우에만 링크(a 태그)를 보여줍니다 -->
								<a th:if="${home!=null}" href="#" id="aboutDoctor">낭만닥터 소개</a>
								<a th:if="${home==null}" th:onclick="|location.href='@{/#target}'|" href="#"
								>낭만닥터 소개</a>
								</li>
							<li><a th:href="@{/search}">병원검색</a></li>
							<li><a th:href="@{/naversearch}">뉴스</a></li>
							<li class="has-children">
								<a th:href="@{/}">게시판</a>
								<ul class="dropdown">
									<li><a th:href="@{/reviewboard}">후기</a></li>
									<li><a th:href="@{/qna}">익명게시판</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="col-3 col-lg-4 col-sm-4 text-lg-end">
						<ul class="js-clone-nav d-none d-lg-inline-block text-end site-menu right-menu" style="list-style: none; padding: 0; margin: 0; display: flex; gap: 10px;">
							<th:block sec:authorize="isAnonymous()">
								<!-- 인증 받지 않음 -->
								<li class="cta-button" style="display: inline"><a th:href="@{/join}" style="color: white">회원가입</a></li>
								<li class="cta-button"style="display: inline" ><a th:href="@{/login}" style="color: white">로그인</a></li>
							</th:block>
							<!-- emp인 경우에 보여지도록 설정-->
							<th:block sec:authorize="hasAuthority('ROLE_EMP')">
								<li class="nav-item"><a th:href="@{/emp}" class="nav-link">직원 페이지</a></li>
								<li class="cta-button"><a th:href="@{/logout}" style="color: white">로그아웃</a></li>
							</th:block>

							<!-- emp인 경우에 보여지도록 설정-->
							<th:block sec:authorize="hasAuthority('ROLE_NURSE')">
								<li class="nav-item"style="display: inline"><a th:href="@{/emp}" class="nav-link">직원 페이지</a></li>
								<li class="cta-button"style="display: inline"><a th:href="@{/logout}" style="color: white">로그아웃</a></li>
							</th:block>

							<!-- emp인 경우에 보여지도록 설정-->
							<th:block sec:authorize="hasAuthority('ROLE_DOCTOR')">
								<li class="nav-item"><a th:href="@{/emp}" class="nav-link">직원 페이지</a></li>
								<li class="cta-button"><a th:href="@{/logout}" style="color: white">로그아웃</a></li>
							</th:block>
							<!-- emp인 경우에 보여지도록 설정-->
							<th:block sec:authorize="hasAuthority('ROLE_MANAGER')">
								<li class="nav-item"><a th:href="@{/emp}" class="nav-link">직원 페이지</a></li>
								<li class="cta-button"><a th:href="@{/logout}" style="color: white">로그아웃</a></li>
							</th:block>

							<!-- user인 경우에 보여지도록 설정-->
							<th:block sec:authorize="hasAuthority('ROLE_USER')">
								<li class="nav-item"><a th:href="@{/mypage}" class="nav-link">마이 페이지</a></li>
								<li class="cta-button"><a th:href="@{/logout}" style="color: white">로그아웃</a></li>
							</th:block>

							<!-- loginonly인 경우에 보여지도록 설정-->
							<th:block sec:authorize="hasAuthority('ROLE_LOGINONLY')">
								<li class="cta-button"><a th:href="@{/logout}" style="color: white">로그아웃</a></li>
							</th:block>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
</header>
</html>