<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About Hospital &mdash; Sterial</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div layout:fragment="content">
	<div class="hero overlay">
		<div class="img-bg rellax">
			<img src="/images/hero_2.jpg" alt="Image" class="img-fluid">
		</div>
		<div class="container">
			<div class="row align-items-center justify-content-start">
				<div class="col-lg-6 mx-auto text-center">
					<h1 class="heading" th:text="${hospital.info_name}">Hospital Name</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-6"><!--
					<div class="col-md-6">
						<img th:if="${hospital.info_photo != null}" th:src="@{${hospital.info_photo}}" alt="Hospital Photo" class="img-fluid" width="500" height="500">
						<img th:unless="${hospital.info_photo != null}" src="/images/img-4.jpg" alt="Default Photo" class="img-fluid" width="500" height="500">
					</div>-->
					<div id="map" style="width:90%;height:350px;margin-left: 50px; margin-bottom: 50px"></div>

					<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e8446e9bb190af20372cac3728f820e3"></script>
					<script th:inline="javascript">
						var hospital=/*[[${hospital}]]*/ {};
						var info_x=hospital.info_x;
						var info_y=hospital.info_y;
						console.log(info_x);
						var mapContainer = document.getElementById('map'), // 지도를 표시할 div
								mapOption = {
									center: new kakao.maps.LatLng(info_y,info_x), // 지도의 중심좌표
									level: 3 // 지도의 확대 레벨
								};

						// 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
						var map = new kakao.maps.Map(mapContainer, mapOption);
						// 지도를 클릭한 위치에 표출할 마커입니다
						var marker = new kakao.maps.Marker({
							// 지도 중심좌표에 마커를 생성합니다
							position: map.getCenter()
						});
						// 지도에 마커를 표시합니다
						marker.setMap(map);

						// 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
						var mapTypeControl = new kakao.maps.MapTypeControl();

						// 지도에 컨트롤을 추가해야 지도위에 표시됩니다
						// kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
						map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

						// 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
						var zoomControl = new kakao.maps.ZoomControl();
						map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
					</script>
				</div>
				<div class="col-md-6">
					<table class="table table-striped" style="width:300px;">
						<thead>
						<tr>
							<th>Day</th>
							<th>Opening Hours</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>Monday</td>
							<td th:text="${hospital.Monday}">N/A</td>
						</tr>
						<tr>
							<td>Tuesday</td>
							<td th:text="${hospital.Tuesday}">N/A</td>
						</tr>
						<tr>
							<td>Wednesday</td>
							<td th:text="${hospital.Wednesday}">N/A</td>
						</tr>
						<tr>
							<td>Thursday</td>
							<td th:text="${hospital.Thursday}">N/A</td>
						</tr>
						<tr>
							<td>Friday</td>
							<td th:text="${hospital.Friday}">N/A</td>
						</tr>
						<tr>
							<td>Saturday</td>
							<td th:text="${hospital.Saturday}">N/A</td>
						</tr>
						<tr>
							<td>Sunday</td>
							<td th:text="${hospital.Sunday}">N/A</td>
						</tr>
						<tr>
							<td>Holiday</td>
							<td th:text="${hospital.Holiday}">N/A</td>
						</tr>
						</tbody>
					</table>
					<p><b>설명: </b><span th:text="${hospital.info_description}">설명</span></p>
					<br>
					<p><b>주소: </b><span th:text="${hospital.info_addr}">주소</span></p>
					<br>
					<p><b>연락처</b><span th:text="${hospital.info_hp}">N/A</span></p>
					<br>
					<p><b>추가설명: </b> <span th:text="${hospital.info_plus}">N/A</span></p>
					<br>
					&nbsp;
					&nbsp;
					&nbsp;
					<br>
					<br>
<br>


				</div>
			</div>
		</div>
	</div>


</div>

<div class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="widget">
					<h3>About Sterial<span class="text-primary">.</span></h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				</div>
				<div class="widget">
					<h3>Connect</h3>
					<ul class="list-unstyled social">
						<li><a href="#"><span class="icon-instagram"></span></a></li>
						<li><a href="#"><span class="icon-twitter"></span></a></li>
						<li><a href="#"><span class="icon-facebook"></span></a></li>
						<li><a href="#"><span class="icon-linkedin"></span></a></li>
						<li><a href="#"><span class="icon-pinterest"></span></a></li>
						<li><a href="#"><span class="icon-dribbble"></span></a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-2 ml-auto">
				<div class="widget">
					<h3>Links</h3>
					<ul class="list-unstyled float-left links">
						<li><a href="about.html">About us</a></li>
						<li><a href="services.html">Services</a></li>
						<li><a href="news.html">News</a></li>
						<li><a href="careers.html">Careers</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-2">
				<div class="widget">
					<h3>Company</h3>
					<ul class="list-unstyled float-left links">
						<li><a href="about.html">About us</a></li>
						<li><a href="services.html">Services</a></li>
						<li><a href="news.html">News</a></li>
						<li><a href="careers.html">Careers</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-3">
				<div class="widget">
					<h3>Contact</h3>
					<address>43 Raymouth Rd. Baltemoer, London 3910</address>
					<ul class="list-unstyled links mb-4">
						<li><a href="tel://11234567890">+1(123)-456-7890</a></li>
						<li><a href="tel://11234567890">+1(123)-456-7890</a></li>
						<li><a href="mailto:info@mydomain.com">info@mydomain.com</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row mt-5">
			<div class="col-12 text-center">
				<p class="mb-0">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a> <!-- License information: https://untree.co/license/ -->
				</p>
			</div>
		</div>
	</div>
</div>


<!-- Preloader -->
<div id="overlayer"></div>
<div class="loader">
	<div class="spinner-border text-primary" role="status">
		<span class="visually-hidden">Loading...</span>
	</div>
</div>

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/tiny-slider.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/navbar.js"></script>
<script src="/js/counter.js"></script>
<script src="/js/rellax.js"></script>
<script src="/js/flatpickr.js"></script>
<script src="/js/glightbox.min.js"></script>
<script src="/js/custom.js"></script>
</body>
</html>