<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About Hospital &mdash; Sterial</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div layout:fragment="content">
	<div class="hero overlay">
		<div class="img-bg rellax">
			<img src="/images/hero_2.jpg" alt="Image" class="img-fluid">
		</div>
		<div class="container">
			<div class="row align-items-center justify-content-start">
				<div class="col-lg-6 mx-auto text-center">
					<h1 class="heading" data-aos="fade-up">About Hospital</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<img th:src="@{${hospital.info_photo}}" alt="Hospital Photo" class="img-fluid">
				</div>
				<div class="col-md-6">
					<h2 th:text="${hospital.info_name}">Hospital Name</h2>
					<p th:text="${hospital.info_description}">Description</p>
					<p>Address: <span th:text="${hospital.info_addr}">주소</span></p>
					<p>Likes: <span th:text="${hospital.info_likecount}">0</span></p>
					<p>Monday: <span th:text="${hospital.Monday}">N/A</span></p>
					<p>Tuesday: <span th:text="${hospital.Tuesday}">N/A</span></p>
					<p>Wednesday: <span th:text="${hospital.Wednesday}">N/A</span></p>
					<p>Thursday: <span th:text="${hospital.Thursday}">N/A</span></p>
					<p>Friday: <span th:text="${hospital.Friday}">N/A</span></p>
					<p>Saturday: <span th:text="${hospital.Saturday}">N/A</span></p>
					<p>Sunday: <span th:text="${hospital.Sunday}">N/A</span></p>
					<p>Holiday: <span th:text="${hospital.Holiday}">N/A</span></p>
					<p>Phone: <span th:text="${hospital.info_hp}">N/A</span></p>
					<p>Additional Information: <span th:text="${hospital.info_plus}">N/A</span></p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="widget">
					<h3>About Sterial<span class="text-primary">.</span></h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				</div>
				<div class="widget">
					<h3>Connect</h3>
					<ul class="list-unstyled social">
						<li><a href="#"><span class="icon-instagram"></span></a></li>
						<li><a href="#"><span class="icon-twitter"></span></a></li>
						<li><a href="#"><span class="icon-facebook"></span></a></li>
						<li><a href="#"><span class="icon-linkedin"></span></a></li>
						<li><a href="#"><span class="icon-pinterest"></span></a></li>
						<li><a href="#"><span class="icon-dribbble"></span></a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-2 ml-auto">
				<div class="widget">
					<h3>Links</h3>
					<ul class="list-unstyled float-left links">
						<li><a href="about-hospital.html">About us</a></li>
						<li><a href="services.html">Services</a></li>
						<li><a href="news.html">News</a></li>
						<li><a href="careers.html">Careers</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-2">
				<div class="widget">
					<h3>Company</h3>
					<ul class="list-unstyled float-left links">
						<li><a href="about-hospital.html">About us</a></li>
						<li><a href="services.html">Services</a></li>
						<li><a href="news.html">News</a></li>
						<li><a href="careers.html">Careers</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-3">
				<div class="widget">
					<h3>Contact</h3>
					<address>43 Raymouth Rd. Baltemoer, London 3910</address>
					<ul class="list-unstyled links mb-4">
						<li><a href="tel://11234567890">+1(123)-456-7890</a></li>
						<li><a href="tel://11234567890">+1(123)-456-7890</a></li>
						<li><a href="mailto:info@mydomain.com">info@mydomain.com</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row mt-5">
			<div class="col-12 text-center">
				<p class="mb-0">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a> <!-- License information: https://untree.co/license/ -->
				</p>
			</div>
		</div>
	</div>
</div>

<!-- Preloader -->
<div id="overlayer"></div>
<div class="loader">
	<div class="spinner-border text-primary" role="status">
		<span class="visually-hidden">Loading...</span>
	</div>
</div>

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/tiny-slider.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/navbar.js"></script>
<script src="/js/counter.js"></script>
<script src="/js/rellax.js"></script>
<script src="/js/flatpickr.js"></script>
<script src="/js/glightbox.min.js"></script>
<script src="/js/custom.js"></script>
</body>
</html>
