<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> &mdash; Naver Search REsults</title>
	<link rel="stylesheet" href="/css/style.css">
	<style>
		.description-map-container {
			display: flex;
			justify-content: space-between;
		}
		.description, .map-container {
			width: 48%; /* Adjust the width as needed */
		}
		.map-container #map {
			width: 100%;
			height: 500px; /* Set a fixed height for the map */
		}
		.centered-heading {
			text-align: center;
			font-size: 2em; /* Adjust the font size as needed */
		}

	</style>
</head>

<div layout:fragment="content">
<div class="container">
	<div style="text-align: center;">
		<a href="/">
			<h1 style="color:darkorange"><b>뉴스 검색</b></h1>
		</a>
	</div>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<form method="get" action="/naversearch">
		<br>
		<input type="text" name="query" placeholder="Search..." th:value="${query}"  required style="padding-left: 20px;" >
		<button type="submit">Search</button>
	</form>
	<table class="table table-striped">
		<thead>
		<tr>
			<th style="background-color: darkorange;">제목</th>
			<th style="background-color: darkorange;">게시일</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="item : ${items}">
			<td><a th:href="${item.originallink}" th:text="${item.title}" target="_blank">Title</a></td>
			<td th:text="${item.pubDate}">Pub Date</td>
		</tr>
		</tbody>

	</table>
	<nav aria-label="Page navigation">
		<ul class="pagination">
			<li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'" th:if="${currentPage > 1}">
				<a style="" class="page-link" th:href="@{/naversearch(query=${query}, page=${currentPage - 1})}">Previous</a>
			</li>
			<li class="page-item" th:classappend="${currentPage == 1} ? 'active'">
				<a class="page-link" th:href="@{/naversearch(query=${query}, page=1)}">1</a>
			</li>
			<li class="page-item" th:if="${currentPage > 2}">
				<a class="page-link" th:href="@{/naversearch(query=${query}, page=${currentPage - 1})}">...</a>
			</li>
			<li class="page-item active" th:if="${currentPage > 1}">
				<span class="page-link" th:text="${currentPage}">1</span>
			</li>
			<li class="page-item" th:if="${currentPage < 1000}">
				<a class="page-link" th:href="@{/naversearch(query=${query}, page=${currentPage + 1})}">...</a>
			</li>
			<li class="page-item" th:classappend="${currentPage == 1000} ? 'active'">
				<a class="page-link" th:href="@{/naversearch(query=${query}, page=1000)}">1000</a>
			</li>
			<li class="page-item" th:classappend="${currentPage == 1000} ? 'disabled'" th:if="${currentPage < 1000}">
				<a class="page-link" th:href="@{/naversearch(query=${query}, page=${currentPage + 1})}">Next</a>
			</li>
		</ul>
	</nav>
</div>
</div>
</html>
