<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content" class="section">
    <script src="https://js.tosspayments.com/v1/payment"></script>
    <script th:inline="javascript">
    $(function(){
        function pay(method){
            var clientKey = 'test_ck_jExPeJWYVQwONKXNQEXx849R5gvN'
            var tossPayments = TossPayments(clientKey);

            var receiptDto=/*[[${receiptDto}]]*/ {};
            var user_no = /*[[${user_no}]]*/ '0';

            console.log("Receipt Amount: ", receiptDto.receipt_amount);
            console.log("User No: ", user_no);
            console.log(method);
            // ------ 결제창 띄우기 ------
            tossPayments
                .requestPayment(method, {
                    // 결제수단 파라미터 (카드, 계좌이체, 가상계좌, 휴대폰 등)

                    // 결제 정보 파라미터
                    // 더 많은 결제 정보 파라미터는 결제창 Javascript SDK에서 확인하세요.
                    // https://docs.tosspayments.com/reference/js-sdk
                    amount: receiptDto.receipt_amount, // 결제 금액
                    orderId: 'AAAAA'+user_no, // 주문번호(주문번호는 상점에서 직접 만들어주세요.)
                    orderName: '테스트 결제', // 구매상품
                    customerName: '김토스', // 구매자 이름
                    successUrl: 'http://localhost:8080/payment/success?method='+method, // 결제 성공 시 이동할 페이지(이 주소는 예시입니다. 상점에서 직접 만들어주세요.)
                    failUrl: 'http://localhost:8080/payment/', // 결제 실패 시 이동할 페이지(이 주소는 예시입니다. 상점에서 직접 만들어주세요.)
                })
                // ------결제창을 띄울 수 없는 에러 처리 ------
                // 메서드 실행에 실패해서 reject 된 에러를 처리하는 블록입니다.
                // 결제창에서 발생할 수 있는 에러를 확인하세요.
                // https://docs.tosspayments.com/reference/error-codes#결제창공통-sdk-에러
                .catch(function (error) {
                    if (error.code === 'USER_CANCEL') {
                        // 결제 고객이 결제창을 닫았을 때 에러 처리
                        location.href="http://localhost:8080/payment/fail?error.code="+error.code;
                    } else if (error.code === 'INVALID_CARD_COMPANY') {
                        // 유효하지 않은 카드 코드에 대한 에러 처리
                    }
                })
        }
        $('.pay-button').click(function() {
            var method = $(this).val();
            pay(method);
        });
    })
    </script>
    <button type="button" style="margin-left: 100px; margin-top: 50px" class="pay-button" value="카드">카드 결제창 띄워보기</button>
    <button type="button" style="margin-left: 100px; margin-top: 150px" class="pay-button" value="가상계좌">가상계좌 결제창 띄워보기</button>
    <button type="button" style="margin-left: 100px; margin-top: 250px" class="pay-button" value="계좌이체">계좌이체 결제창 띄워보기</button>
    <button type="button" style="margin-left: 100px; margin-top: 250px" class="pay-button" value="휴대폰">휴대폰 결제창 띄워보기</button>
</div>

</html>