<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div layout:fragment="content" class="section">
    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">

    <style>
        .preview-container {
            display: flex;
            flex-wrap: wrap;
        }
        .preview-image {
            width: 100px;
            margin-right: 10px;
            margin-bottom: 10px;
        }
        .preview-container img:nth-child(6n+6) {
            margin-right: 0;
        }
    </style>
    <form th:action="@{/reviewboard/update}" method="post" enctype="multipart/form-data">
        <table class="table" style="width: 800px; margin-left: 20%">
                        <tr>
                            <th colspan="2"><label style="width: 100%">
                                <input type="hidden" name="review_no" th:value="${dto.review_no}">
                                <input type="text" name="review_title" class="input-group" style="width: 100%"
                                       th:value="${dto.review_title}">
                            </label>
                                <br></th>
                        </tr>
                        <tr>
                            <td colspan="2">평점 <span id="inputRatings"></span>
                                <input type="hidden" name="review_likecount" id="ratingsInput"
                                       th:value="${dto.review_likecount}">
                                <p style="font-weight: lighter;font-size: 14px">미변경 시 기존 평점이 유지됩니다</p>
                            </td>
                        </tr>
                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                const inputRatings = document.getElementById('inputRatings');
                                const ratingsInput = document.getElementById('ratingsInput');
                                const starCount = 5;

                                // Create stars
                                for (let i = 1; i <= starCount; i++) {
                                    const star = document.createElement('span');
                                    star.classList.add('star');
                                    star.innerHTML = '★';
                                    star.dataset.ratingValue = i;
                                    star.addEventListener('click', setRating);
                                    inputRatings.appendChild(star);
                                }

                                function setRating(event) {
                                    const selectedRating = event.currentTarget.dataset.ratingValue;
                                    ratingsInput.value = selectedRating;
                                    const stars = inputRatings.querySelectorAll('.star');
                                    stars.forEach(star => {
                                        if (star.dataset.ratingValue <= selectedRating) {
                                            star.classList.add('selected');
                                        } else {
                                            star.classList.remove('selected');
                                        }
                                    });
                                }
                            });
                        </script>
                        <tr>
                            <td>작성자 : <span th:text="${user_name}"></span>
                                <input type="hidden" name="userId" th:value="${userId}"></td>
                            <td style="text-align: right">작성일 : <span
                                    th:text="${#dates.format(dto.review_writeday, 'yyyy-MM-dd HH:mm')}"></span></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="file" th:value="${dto.photos}" name="photos" multiple onchange="preview(this)">
                                <span th:each="photo : ${dto.getSplitedPhotos()}">
                                        <img th:src="@{${photo}}" alt="Photo">
                                    </span>
                                <div id="reviewPreviewImages" class="preview-container"></div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="width:100%;height: 200px">
                                    <input type="hidden" name="currentPage" th:value="${currentPage}">
                                    <div class="post-form">
                                        <label for="summernote" style="display: none"></label><textarea name="review_content" id="summernote"
                                                                                  style="width: 100%;" rows="10">
	                                        </textarea>
                                    </div>
                                <script>
                                    $(function (){
                                        $('#summernote').summernote({

                                            // 에디터 크기 설정
                                            height: 500,
                                            // 에디터 한글 설정
                                            lang: 'ko-KR',
                                            // 에디터에 커서 이동 (input창의 autofocus라고 생각하시면 됩니다.)
                                            toolbar: [
                                                // [groupName, [list of button]]
                                                //글꼴 설정
                                                ['fontname',['fontname']],
                                                // 글자 크기 설정
                                                ['fontsize', ['fontsize']],
                                                // 글자 [굵게, 기울임, 밑줄, 취소 선, 지우기]
                                                ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
                                                // 글자색 설정
                                                ['color', ['color']],
                                                // 표 만들기
                                                ['table', ['table']],
                                                // 서식 [글머리 기호, 번호매기기, 문단정렬]
                                                ['para', ['ul', 'ol', 'paragraph']],
                                                // 줄간격 설정
                                                ['height', ['height']],
                                                // 이미지 첨부
                                                ['insert',['picture']],
                                                ['view', ['help']]
                                            ],
                                            // 추가한 글꼴
                                            fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋음체','바탕체'],
                                            // 추가한 폰트사이즈
                                            fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72','96'],
                                            // focus는 작성 페이지 접속시 에디터에 커서를 위치하도록 하려면 설정해주세요.
                                            focus : true,
                                            // callbacks은 이미지 업로드 처리입니다.
                                            callbacks : {
                                                onImageUpload : function(files, editor, welEditable) {
                                                    // 다중 이미지 처리를 위해 for문을 사용했습니다.
                                                    for (var i = 0; i < files.length; i++) {
                                                        imageUploader(files[i], this);
                                                    }
                                                }
                                            }
                                        });
                                    })

                                </script>
                            </td>
                        </tr>
            <tr>
                <td colspan="2" style="text-align: right">
                    <button type="submit" class="btn btn-primary">수정 완료</button>
                    <a th:href="@{/reviewboard(page=${currentPage})}">
                    <button type="button" class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2"
                    >Back to List</button>
                    </a>
                </td>
            </tr>
                    </table>

    </form>

<script th:inline="javascript">
    /*<![CDATA[*/
    function preview(tag) {
        // 미리 보기 영역을 비웁니다.
        document.getElementById('reviewPreviewImages').innerHTML = '';

        // 파일 목록을 순회합니다.
        for (let i = 0; i < tag.files.length; i++) {
            let file = tag.files[i];

            // 파일 타입이 이미지인지 확인합니다.
            if (!file.type.match("image.*")) {
                alert("이미지 파일만 가능합니다");
                return;
            }

            // 파일 리더를 사용하여 이미지를 읽습니다.
            let reader = new FileReader();
            reader.onload = function (e) {
                // 새로운 img 요소를 생성합니다.
                let img = document.createElement('img');
                img.src = e.target.result;
                img.style.width = '100px';
                img.style.marginRight = '10px';

                // 미리 보기 영역에 img 요소를 추가합니다.
                document.getElementById('reviewPreviewImages').appendChild(img);
                if ((i + 1) % 3 === 0) {
                    $("#reviewPreviewImages").append('<br>');
                }
            };
            reader.readAsDataURL(file);
        }
    }
    /*]]>*/
</script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
</div>
</html>