<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div layout:fragment="content" class="section section-2" style="height: 800px;margin-left: 50px">
    <table class="table" style="width: 70%; ">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>평점</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
        </tr>
        <tr th:each="item,itemStat:${list}" >
            <td th:text="${itemStat.count}"></td>
            <td>
                <form th:action="@{/reviewboard/detail}" method="post">
                    <input type="hidden" name="review_no" th:value="${item.review_no}" />
                    <input type="hidden" name="userId" th:value="${#authentication.name}" />
                    <button type="submit" th:text="${item.review_title}"></button>
                </form>
            </td>
            <td th:text="${item.review_likecount}"></td>
            <td th:text="${item.review_no}"></td>
            <td th:text="${item.getFormattedWriteday()}"></td>
            <td th:text="${item.review_viewcount}"></td>
        </tr>
    </table>
</div>
