<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="author" content="Untree.co">
	<link rel="shortcut icon" href="favicon.png">

	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap5" />

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400;0,600;0,700;1,400&family=Inter:wght@400;700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="/css/tiny-slider.css">
	<link rel="stylesheet" href="/css/aos.css">
	<link rel="stylesheet" href="/css/flatpickr.min.css">
	<link rel="stylesheet" href="/css/glightbox.min.css">
	<link rel="stylesheet" href="/css/style.css">

	<title>Search &mdash; Sterial</title>
</head>

<body>
<style>
h1.war {
font-size: 100px;
text-align: justify;
width: 120%;
margin: auto;
white-space: pre;
overflow: visible;
word-wrap: break-word;
max-width: 2000px; /* Ensure the text box does not exceed this width */
color:white;
font-weight: bold;
}
</style>
<div layout:fragment="content">

<div class="hero overlay">
	<div class="img-bg rellax">
		<img src="/images/searchbackimg.jpg" alt="Image" class="img-fluid">
	</div>
	<div class="container">
		<div class="row align-items-center justify-content-start">
			<div class="col-lg-6 mx-auto text-center">
				<h1 class="war" data-aos="fade-up" style="font-size: 50px; white-space: nowrap; color:white; text-align: center;"><b>관심분야의 </b></h1>
				<h1 class="war" data-aos="fade-up" style="font-size: 50px; white-space: nowrap; color:white; text-align: right;"><b>병원들을 찾아보세요!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></h1>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<form action="/results" method="get" class="d-flex align-items-center">
					<input type="text" name="keyword" class="form-control me-2" placeholder="Search...">
					<button type="submit" class="btn btn-primary" style="background-color:darkorange">Search</button>
				</form>
			</div>
		</div>
	</div>
</div>
</div>
<div class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="widget">
					<h3>About Sterial<span class="text-primary">.</span></h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				</div>
				<div class="widget">
					<h3>Connect</h3>
					<ul class="list-unstyled social">
						<li><a href="#"><span class="icon-instagram"></span></a></li>
						<li><a href="#"><span class="icon-twitter"></span></a></li>
						<li><a href="#"><span class="icon-facebook"></span></a></li>
						<li><a href="#"><span class="icon-linkedin"></span></a></li>
						<li><a href="#"><span class="icon-pinterest"></span></a></li>
						<li><a href="#"><span class="icon-dribbble"></span></a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-2 ml-auto">
				<div class="widget">
					<h3>Links</h3>
					<ul class="list-unstyled float-left links">
						<li><a href="about-hospital.html">About us</a></li>
						<li><a href="services.html">Services</a></li>
						<li><a href="news.html">News</a></li>
						<li><a href="careers.html">Careers</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-2">
				<div class="widget">
					<h3>Company</h3>
					<ul class="list-unstyled float-left links">
						<li><a href="about-hospital.html">About us</a></li>
						<li><a href="services.html">Services</a></li>
						<li><a href="news.html">News</a></li>
						<li><a href="careers.html">Careers</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-3">
				<div class="widget">
					<h3>Contact</h3>
					<address>43 Raymouth Rd. Baltemoer, London 3910</address>
					<ul class="list-unstyled links mb-4">
						<li><a href="tel://11234567890">+1(123)-456-7890</a></li>
						<li><a href="tel://11234567890">+1(123)-456-7890</a></li>
						<li><a href="mailto:info@mydomain.com">info@mydomain.com</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row mt-5">
			<div class="col-12 text-center">
				<p class="mb-0">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a> <!-- License information: https://untree.co/license/ -->
				</p>
			</div>
		</div>
	</div>
</div>

<!-- Preloader -->
<div id="overlayer"></div>
<div class="loader">
	<div class="spinner-border text-primary" role="status">
		<span class="visually-hidden">Loading...</span>
	</div>
</div>

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/tiny-slider.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/navbar.js"></script>
<script src="/js/counter.js"></script>
<script src="/js/rellax.js"></script>
<script src="/js/flatpickr.js"></script>
<script src="/js/glightbox.min.js"></script>
<script src="/js/custom.js"></script>

</body>
</html>
