<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div layout:fragment="content">
    <div class="flex h-screen w-full items-center justify-center bg-orange-100">
        <div class="mx-auto max-w-md space-y-6" style="position: absolute;top: 130px">
            <div class="space-y-2 text-center">
                <h1 class="text-3xl font-bold">예약 현황</h1>
            </div>
            <div class="space-y-4">
                <table class="min-w-full bg-white">
                    <thead>
                    <tr>
                        <th class="py-2">예약 번호</th>
                        <th class="py-2">이름</th>
                        <th class="py-2">날짜</th>
                        <th class="py-2">시간</th>
                        <th class="py-2">진료명</th>
                        <th class="py-2">진료 유형</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="reservation : ${reservations}">
                        <td th:text="${reservation.reservation_no}">1</td>
                        <td th:text="${reservation.user_name}">홍길동</td>
                        <td th:text="${reservation.reservation_date}">2023-01-01</td>
                        <td th:text="${reservation.reservation_time}">10:00 - 11:00</td>
                        <td th:text="${reservation.reservation_reason}">진료명</td>
                        <td th:text="${reservation.reservation_role}">상담</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</html>
